<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>天才小熊猫的时钟</title>
    <link rel="icon" href="./images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="./css/countDown.css">
    <!--引入 element-ui 的样式，-->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
    <div id="app" class="main">
        <div class="date-time">
            <el-date-picker
                v-model="value"
                type="datetime"
                @change="dateTimeChange"
                placeholder="选择日期时间">
            </el-date-picker>
        </div>
        <div class="box" v-if="loaded">
            <div class="time">
                <div class="time-hms">
                    <span class="time-d">{{day}}</span>
                    <span class="time-desc">天</span>
                    <span class="time-h">{{hour}}</span>
                    <span class="time-desc">时</span>
                    <span class="time-m">{{minute}}</span>
                    <span class="time-desc">分</span>
                    <span class="time-s">{{second}}</span>
                    <span class="time-desc">秒</span>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<!-- 引入element 的组件库-->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="./js/countDown.js"></script>
</html>